{% extends "base.html" %}
{% load staticfiles %}


{% block page_container %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ page_title }}</h1>
        <p class="lead">Make your pizza order.</p>
    </div>

    <div class="card-deck mb-3 text-center">
    {% if pizzas %}
        {% for pizza in pizzas %}
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ pizza.title }}</h4>
            </div>
            <div class="card-body">
                <img class="img-thumbnail" src="{{ pizza.image.url }}" alt="{{ pizza.title }}" />
                <h1 class="card-title pricing-card-title">{{ pizza.price }} <small class="text-muted">EUR</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                    {% for topping in pizza.toppings.all %}
                    <li>{{ topping.title }}</li>
                    {% endfor %}
                </ul>
                <a class="btn btn-lg btn-block btn-primary" href="{% url 'website:order' pizza.id %}">Order now</a>
            </div>
        </div>
        {% endfor %}

    {% endif %}
    </div>

{% endblock %}
